<div class="card bg-light mb-3" style="width: 15rem">
  <div class="card-body">
    <h4 class="card-title">{{name}}</h4>
    <h6 class="card-subtitle mb-2">Level: {{level}}</h6>
    <ul class="list-group list-group-flush">
      <li class="list-group-item">Attack: {{attack}}</li>
      <li class="list-group-item">Health: {{health}}</li>
    </ul>
  </div>
</div>
