<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">{{name}} has been slain</h4>
  <p>You had high hopes for {{name}} but due to your poor guidance they met their demise before it was their time.</p>
  <hr>
  <p class="mb-0">Find another worthy candidate to lead in becoming the strongest Rock Paper Scissor champion.</p>
  <a class="btn btn-danger mt-2 p-auto" id="chooseAdvFromDead">Choose Adventurer</a>
</div>
