<div class="alert alert-danger" role="alert">
  <h4 class="alert-heading">You have been slain</h4>
  <p>Your quest to become the ultimate rock-paper-scissor player has come to an end.</p>
  <hr>
  <p class="mb-0">Return to the Choose Adventurer tab to begin anew, or continue from another adventurer.</p>
  <a class="btn btn-danger mt-2 p-auto" id="chooseAdvFromDead">Choose Adventurer</a>
</div>
