<span><strong>{{name}}</strong></span>
<span><strong>Level: {{level.number}}</strong></span>
<br>
<span><strong>Attack: {{level.attack}}</strong></span>
<br>
<span><strong>Health: {{level.health}}</strong></span>
