<div class="alert alert-success" role="alert">
  <h4 class="alert-heading">Victory!</h4>
  <p>You successfully defeated {{name}}. They were no match for your skills.</p>
  <hr>
  <a class="btn btn-success mt-2 p-auto" id="continueOnAdventure">Continue On</a>
</div>
