<div class="d-flex flex-row justify-content-center">
  <div class="text-center" id="advInfo">
  </div>
  <div class="text-center" id="encounterInfo">
  </div>
</div>
<div class="d-flex flex-row justify-content-center mt-1">
  <div class="btn-group" role="group" aria-label="Rock Paper Scissor Option Buttons">
    <button type="button" class="btn btn-danger p-auto" id="rock">Rock</button>
    <button type="button" class="btn btn-primary p-auto" id="paper">Paper</button>
    <button type="button" class="btn btn-warning p-auto" id="scissor">Scissor</button>
  </div>
</div>
<div class="text-center" id="roundResult">
</div>
<div class="text-center" id="endRoundMessage">
</div>
