body {
  background-color: rgba(255, 255, 255, 0)
}

html {
  -moz-background-size: cover;
  -o-background-size: cover;
  -webkit-background-size: cover;
  background-size: cover;
  background: url('https://i.imgur.com/0u5oKsq.png') no-repeat center center fixed;
}

button {
  &:focus,
  &:active {
    box-shadow: none;
    outline: none;
  }
}

.badge {
  font-size: 16px;
}

.btn {
  box-shadow: 2px 3px 5px rgba(4, 4, 4, 0.3);
}

.display-stats {
  font-size: 20px;
}

.nav-tabs {
  font-weight: bold;
}

.rps-action {
  font-size: 30px;
  box-shadow: 0px 0px;
}

.rpg-action-container {
  box-shadow: 2px 3px 5px rgba(4, 4, 4, 0.3);
}

.scrollable-menu {
  height: auto;
  max-height: 200px;
  overflow-x: hidden;
}

.start-screen {
  max-width: 430px;
}

.table {
  background-color: rgba(248, 249, 250, .62)
}
